.resize-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.keybind-label,
.dimensions-label {
  font-size: 14px;
  margin-bottom: 4px;
}

.resize-content form {
  margin: 16px 0;
}

.keybind-label {
  display: flex;
  gap: 8px;
  align-items: center;
}

hr {
  opacity: 35%;
  margin-top: 28px;
  margin-bottom: 8px;
  width: 45%;
}

input[type='range'] {
  max-width: calc(100% - 82px);
  -webkit-appearance: none; /* Remove default appearance */
  appearance: none;
  width: 100%;
  height: 6px;
  background: #ddd; /* Track background color */
  border-radius: 3px; /* Rounded corners for track */
  cursor: pointer; /* Pointer cursor for interaction */
  margin-right: 34px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default appearance */
  appearance: none;
  width: 16px;
  height: 16px;
  background: #007bff; /* Thumb background color */
  border-radius: 50%; /* Circular thumb */
}

/* CSS to remove number input arrows */
.range-input-value::-webkit-inner-spin-button,
.range-input-value::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-input-value {
  appearance: textfield;
  -moz-appearance: textfield;
  display: inline;
  color: darkslategray;
  width: 14px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.input-value-wrapper {
  font-size: 12px;
  padding: 4px;
  padding-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-value-wrapper input {
  width: 24px;

  border-radius: 4px;
  border: none;
  padding: 0px;
  outline: none;
}

.dimensions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button[type='button'],
button[type='submit'] {
  padding: 8px 16px; /* Existing styles... */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.save-button {
  background-color: #007bff;
  color: white;
}

button[type='button'] {
  background-color: #eee;
  color: black;
}

/* Styles for the "X" icon button */
.delete-preset-button {
  padding: 6px !important; /* Reduce padding for smaller button */
  width: 24px !important; /* Set fixed width for the button */
  height: 24px !important; /* Set fixed height for the button */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #721c24 !important;
  opacity: 50%;
  font-size: xx-small;
  color: #eee !important;
  border: 1px solid #f5c6cb;
  border-radius: 8px !important;
  font-weight: 100 !important;
}

.delete-preset-button:hover {
  opacity: 75%;
  transition: opacity 0.3s;
}
