.inner-container {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 375px;
  max-width: 550px;
  margin: 18px auto;
  border: 1px solid #ccc;
}

.title {
  padding: 20px 0 0 20px;
}

.tabs-content {
  padding: 20px;
}
